body{
  margin: 0;
}
/* Homepage */
/* Nav */
.nav{ 
  background-color: #68D8D6;
  display: flex;
  justify-content: space-between;
  align-items:  flex-start;
  padding: 20px 30px 10px 30px;
}
.nav .logo{
  display: flex;
  width: 23%;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 0;
}

#mylogo{
  width: 40px;
  height: 40px;
  background-color: gray;
  border-radius: 50%;
}
.nav .logo span{
  font-size: 30px;
  font-weight: bold;
}
.nav .navlinks{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35vw;
  list-style-type: none;
}
.nav .navlinks li a{
  text-decoration: none;
  font-weight: 500;
  color: black;
}
.nav .navlinks li a:hover{
  border-bottom: 2px solid black;
  padding: 5px 0;
  font-weight: bold;
}
.nav .navlinks li #active{
  border-bottom: 2px solid black;
  padding: 5px 0;
  font-weight: bold;
}
.nav .navlinks li #signin{
  border: 2px solid #1e1e1e;
  text-transform: capitalize;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 15px #07BEB8;
}
/* Nav end */
/* Home cont */
.homeCont{
  background-color: #68D8D6;
  border: 1px solid black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.homeCont .hometxt{
  background-color: white;
  line-height: 200%;
  padding: 40px;
  border-radius: 100px;
  border-bottom-left-radius: 0;
  text-align: center;
}
.homeCont .hometxt span{
  font-size: 20px;
}
.homeCont .hometxt button{
  border: 2px solid #FED9B7;
  color: #FF686B;
  box-shadow: 2px 2px 15px #FED9B7;
  padding: 10px;
  background-color: white;
  border-radius: 15px;
  margin-top: 20px;
}
/* Home cont end */
/* About start */
.aboutCont{
  padding: 20px;
  margin-bottom: 50px;
  
}
.aboutCont .aboutone{
  padding: 20px;
}
.aboutCont #aboutone{
  display: flex;
  align-items: center;
  font-size: 20px;
  line-height: 200%;
  justify-content: space-between;
  text-align: center;
  width: 90vw;
}
.aboutCont .aboutone .abouttxt{
  width: 60%;
}
.aboutCont .aboutone span{
  margin: 0 30px 0 0;
}
.aboutCont .aboutone .abouttxt #aboutonespan1{
  color: #07BEB8;
}

.aboutCont .abouttwo{
  padding: 10px;
}
.aboutCont #abouttwo{
  display: flex;
  align-items: center;
  font-size: 20px;
  line-height: 200%;
  justify-content: space-between;
  text-align: center;
  padding: 20px;
}

.aboutCont .abouttwo span{
  margin: 0 0 0 30px;
}

.aboutCont .aboutthrees{
  padding: 10px;
}
.aboutCont .aboutthrees{
  display: flex;
  align-items: center;
  font-size: 20px;
  line-height: 200%;
  justify-content: space-between;
  text-align: center;
  padding: 20px;
}
.aboutCont .aboutthrees #aboutthreeone{
  display: flex;
  flex-direction: column;
  /* margin-right: 10px; */
  align-items: center;
}
.aboutCont .aboutthrees #aboutthreetwo{
  display: flex;
  flex-direction: column;
  /* margin-left: 10px; */
  align-items: center;
}

.aboutCont .aboutthree span{
  margin: 20px 0;
}
.bottomabt{
  background-color: #FED9B7;
  width: 80vw;
  margin: auto;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  font-size: 20px;
}
.bottomabt h2{
  color: #0081A7;
}
.bottomabt button{
  color: #07BEB8;
  border: 2px solid #07BEB8;
  background-color: white;
  padding: 10px;
  border-radius: 15px;
  font-weight: bold;
  width: 170px;
  font-size: 22px;
  box-shadow: 2px 2px 20px gray;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
}
/* About end */
/* Features */
.myfeatures{
  text-align: center;
  margin-bottom: 50px;
}
.myfeatures .featuresConts{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.afeature{
  width: 25%;
  border: 2px solid #0081A7;
  height: 150px;
  margin: 20px;
  border-radius: 15px;
  box-shadow: 2px 2px 5px #FF686B;
  font-size: 20px;
}
/* Features end */
/* FAQs */
.myfaqs{
  width: 80%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 20px;
}
.bi {
  font-family: "bootstrap-icons";
}
.myfaqs h2{
  text-align: center;
}
.myfaqs .faqs .afaq{
  margin: auto 20px;
  display: flex;
  justify-content: space-between;
}
.myfaqs .calltoact{
  background-color: #FED9B7;
  padding: 20px;
  border-radius: 20px;
  width: 50%;
  box-shadow: 2px 2px 5px gray;
  margin: 40px auto;
  text-align: center;
  font-size: 25px;
}
.myfaqs .calltoact span{
  display: flex;
  justify-content: space-evenly;
}
.myfaqs .calltoactbtn{
  display: flex;
  align-items: center;
  width: 30%;
}
/* FAQs end */
/* Footer */
.footer{
  background-color: #68D8D6;
  padding: 15px;
}
.myfooter{
  display: flex;
  justify-content: space-evenly;
  font-size: 17px;
  align-items: start;
}
.myfooter .left{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.myfooter ul{
  list-style-type: none;
}
.myfooter a{
  color: black;
  /* text-decoration: none; */
}
.myfooter .logo{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: -20px;
}
.myfooter .logo #mylogo{
  padding: 10px;
}
.myfooter .left a{
  text-decoration: none;
}
.footer #mycopyright{
  text-align: center;
  font-size: 15px;
}
/* Footer */
/* Homepage end */